body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.tutorial-container {
  width: 70%;
}

.button-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.tutorial-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tutorial-button:hover {
  background-color: #45a049;
}

.status {
  margin-left: 10px;
  font-weight: bold;
}

.tutorial-content .sequence {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
}

.image img {
  width: 200px;
  height: 200px;
}

.text {
  margin-left: 20px;
}

.buttons {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
}

.prev-button {
  background-color: #f44336;
  color: white;
}

.next-button {
  background-color: #008CBA;
  color: white;
}

.finish-button {
  background-color: #4CAF50;
  color: white;
}

.atom {
  display: inline-block;
  margin: 10px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  text-align: center;
  width: 100px;
}

#hydrogen {
  background-color: #ffeb3b;
}

#carbon {
  background-color: #4caf50;
}

#oxygen {
  background-color: #2196f3;
}
